---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Github from "../components/icons/github.astro";
import Linkedin from "../components/icons/linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import Mail from "../components/icons/mail.astro";
import Proyects from "../components/Proyects.astro";
import Exp from "../components/Experecias.astro";
import SectionContainer from "../components/SectionContainer.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import Code from "../components/icons/code.astro";
import Skills from "../components/skills.astro";
---

<Layout
	title="Portafolio Juan Manuel Atencio - Desarrollador y programador web"
	description="Contrata a Juan Manuel Atencio para desarrollar tus proyectos web"
>
	<SectionContainer className="py-20 pb-24">
		<main class="px-4">
			<h1
				id="sobre-mi"
				class="text-white text-2xl md:text-3xl lg:text-4xl font-bold flex flex-row gap-x-4 pb-5"
			>
				Hola, Soy Juan Manuel Atencio
				<a
					href="https://www.linkedin.com/in/juan-manuel-atencio-81bb3a260/"
					target="_blank"
					rel="noopener"
					class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-1xl md:text-xl lg:text-xl opacity-80 text-white">
				Soy Desarrollador de Software.
				<br />
				Te ayudo a transformar tus ideas en código escalable.
			</h2>
			<ul
				class="text-white text-sm md:text-md lg:text-md items-center flex flex-wrap gap-x-4 gap-y-4 py-4"
			>
				<li>
					<SocialPill
						href="https://github.com/JuanMa467"
						target="_blank"
						rel="noopener noreferrer"
					>
						<Github class="size-6" />
						Github
					</SocialPill>
				</li>
				<li class="ml-3">
					<SocialPill
						href="https://www.linkedin.com/in/juan-manuel-atencio-81bb3a260/"
						target="_blank"
						rel="noopener noreferrer"
					>
						<Linkedin class="size-6" />
						Linkedin
					</SocialPill>
				</li>
				<li class="ml-3">
					<SocialPill
						href="https://mail.google.com/mail/?view=cm&fs=1&to=atenciojuanmanuel05@gmail.com"
						target="_blank"
						rel="noopener noreferrer"
					>
						<Mail class="size-6" />
						atenciojuanmanuel05@gmail.com
					</SocialPill>
				</li>
			</ul>
		</main>
	</SectionContainer>
	<SectionContainer id="experiencia" className="px-4">
		<h2
			class="text-2xl font-semibold mb-6 flex gap-x-2 items-center text-white"
		>
			<BriefCase class="size-7" />
			<div class="ml-2">
				<h2 class="text-3xl md:text-4xl font-bold text-white">
					Mis <span class="text-cyan-500">Experiencias</span>
				</h2>
				<div class="w-24 h-1 bg-cyan-500 mx-auto rounded-full"></div>
			</div>
		</h2>
		<Exp />
	</SectionContainer>
	<SectionContainer id="proyectos" className="px-4">
		<h2
			class="text-2xl font-semibold mb-6 text-white flex gap-x-2 items-center"
		>
			<Code class="size-7" />
			<div class="ml-2">
				<h2 class="text-3xl md:text-4xl font-bold text-white">
					Mis <span class="text-cyan-500">Proyectos</span>
				</h2>
				<div class="w-24 h-1 bg-cyan-500 mx-auto rounded-full"></div>
			</div>
		</h2>
		<Proyects />
	</SectionContainer>
	<SectionContainer id="habilidades" className="px-4 pb-10">
		<h2
			class="text-2xl font-semibold mb-6 text-white flex gap-x-2 items-center"
		>
			<Code class="size-7" />
			<div class="ml-2">
				<h2 class="text-3xl md:text-4xl font-bold text-white">
					Mis <span class="text-cyan-500">Habilidades</span>
				</h2>
				<div class="w-24 h-1 bg-cyan-500 mx-auto rounded-full"></div>
			</div>
		</h2>
		<Skills />
	</SectionContainer>
</Layout>
