<header
    class="flex flex-col md:flex-row justify-between items-center py-5 w-full xl:w-[1120px] mx-auto px-4 md:px-8 xl:px-0"
>
    <img
        class="rounded-full w-12 h-12 mb-4 md:mb-0"
        src="https://avatars.githubusercontent.com/u/109820347?v=4"
        alt="juanma photo"
    />
    <nav
        class="flex flex-row gap-x-3 sm:gap-x-5 md:gap-x-10 text-white flex-wrap justify-center text-sm md:text-base"
    >
        <a
            href="#top"
            class="opacity-80 hover:opacity-100 transition-opacity duration-300"
            >Inicio</a
        >

        <a
            href="#experiencia"
            class="opacity-80 hover:opacity-100 transition-opacity duration-300"
            >Experiencia</a
        >
        <a
            href="#proyectos"
            class="opacity-80 hover:opacity-100 transition-opacity duration-300"
            >Proyectos</a
        >
    </nav>
</header>
