---
const { ...props } = Astro.props;
---

<span
    class={`
    rounded-full border border-white/10
    flex justify-center 
    items-center gap-x-2 
    py-1 px-3 bg-white/5
    text-xs text-white/80
    transition hover:bg-white/10 hover:text-white
`}
    {...props}
>
    <slot />
</span>
